.BorTit
  border-left: 5px solid $color-acento-contenido
  padding: 5px 0px 5px 20px
  margin-top: 6px
  font-size: 0.8em

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

.imagen-fondo
  background-size: contain;
  background-repeat: no-repeat;
.imagen-fondo2
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%  

.cajon.color-primario
  background-color: #F3DEFE

.t1.tarjeta.color-acento-contenido 
    background-color: #A5FBFF

.t1.tarjeta.color-primario
    background-color: #D8FDFF

.cajon.color-acento-contenido 
    background-color: #DFFEFF

.t1.lista-ol--cuadro__vineta
  background-color: #D07EFC

.t1-div1
  background-color: #F3DEFE
  border-left: 8px solid #D07EFC

.t1-div2
  background-color: #EAFEFF
  border-left: 8px solid #7FF9FF

.t1-div3
  background-color: #E4FEFF
  border: 2px solid #B0C0D2

.t5-div1
  background-color: #E3AFFF
  border: 3px solid  #D07EFC
  border-radius: 15px

.t5-div2
  background-color: #ECC8FF
  border: 3px solid  #D07EFC
  border-radius: 15px