.BorTit
  border-left: 5px solid $color-acento-contenido
  padding: 5px 0px 5px 20px
  margin-top: 6px
  font-size: 0.8em

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

.imagen-fondo
  background-size: contain;
  background-repeat: no-repeat;
